body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: url("/static/image/login-bg.png") center center / cover no-repeat;
    height: 100vh;
}


.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-box {
    width: 420px;

    background: rgba(0, 0, 0, 0.75);

    padding: 45px;

    border-radius: 20px;

    color: white;
}


.auth-box h1 {
    margin-bottom: 30px;
}


.auth-box input {
    width: 100%;

    padding: 15px;

    margin: 12px 0;

    border: none;

    border-radius: 10px;

    background: #222;

    color: white;

    font-size: 16px;
}


.auth-btn {
    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: #E50914;

    color: white;

    font-size: 18px;

    cursor: pointer;

    margin-top: 15px;
}


.auth-btn:hover {
    background: #b20710;
}


.link {
    margin-top: 20px;

    text-align: center;
}


.link a {
    color: #E50914;

    text-decoration: none;
}