{% extends 'base.html' %}

{% block content %}

<h1 class="section-title">
⚙️ Settings
</h1>

<div style="background:#181818;padding:30px;border-radius:18px;max-width:700px;">

<h2 style="margin-bottom:20px;">MovieVerse Settings</h2>

<p style="color:#bbbbbb;margin-bottom:15px;">
🎬 Version : 1.0
</p>

<p style="color:#bbbbbb;margin-bottom:15px;">
🌙 Theme : Netflix Dark
</p>

<p style="color:#bbbbbb;margin-bottom:15px;">
👩‍💻 Developed using Django + Bootstrap
</p>

<p style="color:#bbbbbb;">
❤️ Thank you for using MovieVerse.
</p>

</div>

{% endblock %}